<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>  
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--<pages validateRequest="false">
      <controls>
        <add tagPrefix="uc" tagName="PopUpSearchCustomer" src="~/UserControl/PopUpSearchCustomer.ascx" />
      </controls>
    </pages>-->
  </system.web>
  <connectionStrings>
    <add name="AIMERP" connectionString="Data Source=112.121.151.41;Initial Catalog=AIMERP;User Id=AIMERP;Password=aimerp2013" providerName="System.Data.SqlClient"/>
    <add name="AIMERPX" connectionString="Data Source=112.121.151.41;Initial Catalog=AIMERP;User Id=AIMERP;Password=aimerp2013" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Connection String-->
    <add key="ConnectionString" value="AIMERP"/>
    <!--Culture Info-->
    <add key="CultureInfo" value="en-US"/>
    <!--Date Format-->
    <add key="DateFormat" value="{0:dd/MM/yyyy}"/>
    <!--Error Log-->
    <add key="LogPath" value="D:\"/>
    <add key="LogName" value="AIMERP"/>
    <!-- Repeater Navigate Bar-->
    <add key="DisplayRecord_5" value="5"/>
    <add key="DisplayRecord_10" value="10"/>
    <add key="DisplayRecord_15" value="15"/>
  </appSettings>
</configuration>